<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>

<body>
  <header class="p-4 bg-subtle">
    <h1>
      <%= title %>
    </h1>
    <p class="">Welcome to <%= title %>
    </p>
  </header>
</body>

</html>