body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

/* .scroll-container {
    height: 70px;
    overflow-y: auto;
} */

li:hover {
    background-color: rgb(var(--bs-secondary-color-rgb), 0.5);
    transition: all .3s ease;
}

.activo {
    width: 20%;
    animation-name: entrada;
    animation-duration: .3s;
}

.inActivo {
    animation-name: salida;
    animation-duration: .3s;
}

.menuResAct {
    position: fixed;
    width: 100%;
    z-index: 9999;
    height: 100dvh;
    animation-name: entradaRes;
    animation-duration: .3s;
}

.menuResIn {
    position: fixed;
    width: 75%;
    z-index: 9999;
    height: 100dvh;
    animation-name: salidaRes;
    animation-duration: .3s;
}

.seccion-con-scroll {
    min-height: 150px;
    /* Altura fija */
    overflow-y: auto;
    /* Scroll vertical si es necesario */
}

.cartelera {
    height: 300px;
    width: 100%;
    aspect-ratio: 1/1;
}


.aviso {
    background-color: #FDE6E7;
}

.alerta {
    animation-name: alertaEn;
    animation-duration: .6s;
}

.alertaSa {
    animation-name: alertaSa;
    animation-duration: .5s;
}

.divContain {
    top: 0dvh;
}



@keyframes alertaEn {
    0% {
        opacity: 0;
        transform: translateY(-50vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0vh);

    }
}

@keyframes alertaSa {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-50vh);

    }
}


@media (max-width:780px) {
    .cartelera {
        height: 300px;
        width: 100%;
        object-fit: contain;
    }

    .divContain {
        top: 5dvh;
    }

}

@keyframes entrada {
    0% {
        width: 3%;
    }

    100% {
        width: 20%;
    }
}


@keyframes salida {
    0% {
        width: 20%;
    }

    100% {
        width: 3%;
    }
}

@keyframes entradaRes {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

@keyframes salidaRes {
    0% {
        width: 75%;
    }

    100% {
        width: 0%;
    }
}

@media (min-width:300px) {
    .menuResAct {
        width: 75%;
    }

}

@media (min-width:425px) {
    .menuResAct {
        width: 60%;
    }

    @keyframes entradaRes {
        0% {
            width: 0%;
        }

        100% {
            width: 60%;
        }
    }

    @keyframes salidaRes {
        0% {
            width: 60%;
        }

        100% {
            width: 0%;
        }
    }
}

@media (min-width:480px) {
    .menuResAct {
        width: 50%;
    }

    @keyframes entradaRes {
        0% {
            width: 0%;
        }

        100% {
            width: 50%;
        }
    }

    @keyframes salidaRes {
        0% {
            width: 50%;
        }

        100% {
            width: 0%;
        }
    }
}

@media (min-width:588px) {
    .menuResAct {
        width: 40%;
    }

    @keyframes entradaRes {
        0% {
            width: 0%;
        }

        100% {
            width: 40%;
        }
    }

    @keyframes salidaRes {
        0% {
            width: 40%;
        }

        100% {
            width: 0%;
        }
    }
}

/* Clases de ancho generales (5 en 5) */
.w-5 {
    width: 5% !important;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.w-25 {
    width: 25% !important;
}

.w-30 {
    width: 30% !important;
}

.w-35 {
    width: 35% !important;
}

.w-40 {
    width: 40% !important;
}

.w-45 {
    width: 45% !important;
}

.w-50 {
    width: 50% !important;
}

.w-55 {
    width: 55% !important;
}

.w-60 {
    width: 60% !important;
}

.w-65 {
    width: 65% !important;
}

.w-70 {
    width: 70% !important;
}

.w-75 {
    width: 75% !important;
}

.w-80 {
    width: 80% !important;
}

.w-85 {
    width: 85% !important;
}

.w-90 {
    width: 90% !important;
}

.w-95 {
    width: 95% !important;
}

.w-100 {
    width: 100% !important;
}

.w-33 {
    width: calc(33.333% - 20px) !important;
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
    .fs-xs-1 {
        font-size: calc(1.375rem + 1.5vw) !important;
    }

    .fs-xs-2 {
        font-size: calc(1.325rem + 0.9vw) !important;
    }

    .fs-xs-3 {
        font-size: calc(1.3rem + 0.6vw) !important;
    }

    .fs-xs-4 {
        font-size: calc(1.275rem + 0.3vw) !important;
    }

    .fs-xs-5 {
        font-size: 1.25rem !important;
    }

    .fs-xs-6 {
        font-size: 1rem !important;
    }

    /* Clases de ancho para xs (5 en 5) */
    .w-xs-5 {
        width: 5% !important;
    }

    .w-xs-10 {
        width: 10% !important;
    }

    .w-xs-15 {
        width: 15% !important;
    }

    .w-xs-20 {
        width: 20% !important;
    }

    .w-xs-25 {
        width: 25% !important;
    }

    .w-xs-30 {
        width: 30% !important;
    }

    .w-xs-35 {
        width: 35% !important;
    }

    .w-xs-40 {
        width: 40% !important;
    }

    .w-xs-45 {
        width: 45% !important;
    }

    .w-xs-50 {
        width: 50% !important;
    }

    .w-xs-55 {
        width: 55% !important;
    }

    .w-xs-60 {
        width: 60% !important;
    }

    .w-xs-65 {
        width: 65% !important;
    }

    .w-xs-70 {
        width: 70% !important;
    }

    .w-xs-75 {
        width: 75% !important;
    }

    .w-xs-80 {
        width: 80% !important;
    }

    .w-xs-85 {
        width: 85% !important;
    }

    .w-xs-90 {
        width: 90% !important;
    }

    .w-xs-95 {
        width: 95% !important;
    }

    .w-xs-100 {
        width: 100% !important;
    }

    .w-xs-33 {
        width: calc(33.333% - 20px) !important;
    }
}

@media (min-width: 576px) {
    .fs-sm-1 {
        font-size: calc(1.375rem + 1.5vw) !important;
    }

    .fs-sm-2 {
        font-size: calc(1.325rem + 0.9vw) !important;
    }

    .fs-sm-3 {
        font-size: calc(1.3rem + 0.6vw) !important;
    }

    .fs-sm-4 {
        font-size: calc(1.275rem + 0.3vw) !important;
    }

    .fs-sm-5 {
        font-size: 1.25rem !important;
    }

    .fs-sm-6 {
        font-size: 1rem !important;
    }

    /* Clases de ancho para sm (5 en 5) */
    .w-sm-5 {
        width: 5% !important;
    }

    .w-sm-10 {
        width: 10% !important;
    }

    .w-sm-15 {
        width: 15% !important;
    }

    .w-sm-20 {
        width: 20% !important;
    }

    .w-sm-25 {
        width: 25% !important;
    }

    .w-sm-30 {
        width: 30% !important;
    }

    .w-sm-35 {
        width: 35% !important;
    }

    .w-sm-40 {
        width: 40% !important;
    }

    .w-sm-45 {
        width: 45% !important;
    }

    .w-sm-50 {
        width: 50% !important;
    }

    .w-sm-55 {
        width: 55% !important;
    }

    .w-sm-60 {
        width: 60% !important;
    }

    .w-sm-65 {
        width: 65% !important;
    }

    .w-sm-70 {
        width: 70% !important;
    }

    .w-sm-75 {
        width: 75% !important;
    }

    .w-sm-80 {
        width: 80% !important;
    }

    .w-sm-85 {
        width: 85% !important;
    }

    .w-sm-90 {
        width: 90% !important;
    }

    .w-sm-95 {
        width: 95% !important;
    }

    .w-sm-100 {
        width: 100% !important;
    }

    .w-sm-33 {
        width: calc(33.333% - 20px) !important;
    }
}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 768px) {
    .fs-md-1 {
        font-size: calc(1.375rem + 1.5vw) !important;
    }

    .fs-md-2 {
        font-size: calc(1.325rem + 0.9vw) !important;
    }

    .fs-md-3 {
        font-size: calc(1.3rem + 0.6vw) !important;
    }

    .fs-md-4 {
        font-size: calc(1.275rem + 0.3vw) !important;
    }

    .fs-md-5 {
        font-size: 1.25rem !important;
    }

    .fs-md-6 {
        font-size: 1rem !important;
    }

    /* Clases de ancho para md (5 en 5) */
    .w-md-5 {
        width: 5% !important;
    }

    .w-md-10 {
        width: 10% !important;
    }

    .w-md-15 {
        width: 15% !important;
    }

    .w-md-20 {
        width: 20% !important;
    }

    .w-md-25 {
        width: 25% !important;
    }

    .w-md-30 {
        width: 30% !important;
    }

    .w-md-35 {
        width: 35% !important;
    }

    .w-md-40 {
        width: 40% !important;
    }

    .w-md-45 {
        width: 45% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-55 {
        width: 55% !important;
    }

    .w-md-60 {
        width: 60% !important;
    }

    .w-md-65 {
        width: 65% !important;
    }

    .w-md-70 {
        width: 70% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .w-md-80 {
        width: 80% !important;
    }

    .w-md-85 {
        width: 85% !important;
    }

    .w-md-90 {
        width: 90% !important;
    }

    .w-md-95 {
        width: 95% !important;
    }

    .w-md-100 {
        width: 100% !important;
    }

    .w-md-33 {
        width: calc(33.333% - 20px) !important;
    }

    .card-md-50 {
        width: calc(50% - 20px) !important;
    }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 992px) {
    .fs-lg-1 {
        font-size: calc(1.375rem + 1.5vw) !important;
    }

    .fs-lg-2 {
        font-size: calc(1.325rem + 0.9vw) !important;
    }

    .fs-lg-3 {
        font-size: calc(1.3rem + 0.6vw) !important;
    }

    .fs-lg-4 {
        font-size: calc(1.275rem + 0.3vw) !important;
    }

    .fs-lg-5 {
        font-size: 1.25rem !important;
    }

    .fs-lg-6 {
        font-size: 1rem !important;
    }

    /* Clases de ancho para lg (5 en 5) */
    .w-lg-5 {
        width: 5% !important;
    }

    .w-lg-10 {
        width: 10% !important;
    }

    .w-lg-15 {
        width: 15% !important;
    }

    .w-lg-20 {
        width: 20% !important;
    }

    .w-lg-25 {
        width: 25% !important;
    }

    .w-lg-30 {
        width: 30% !important;
    }

    .w-lg-35 {
        width: 35% !important;
    }

    .w-lg-40 {
        width: 40% !important;
    }

    .w-lg-45 {
        width: 45% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-55 {
        width: 55% !important;
    }

    .w-lg-60 {
        width: 60% !important;
    }

    .w-lg-65 {
        width: 65% !important;
    }

    .w-lg-70 {
        width: 70% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-80 {
        width: 80% !important;
    }

    .w-lg-85 {
        width: 85% !important;
    }

    .w-lg-90 {
        width: 90% !important;
    }

    .w-lg-95 {
        width: 95% !important;
    }

    .w-lg-100 {
        width: 100% !important;
    }

    .w-lg-33 {
        width: calc(33.333% - 20px) !important;
    }
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {
    .fs-xl-1 {
        font-size: calc(1.375rem + 1.5vw) !important;
    }

    .fs-xl-2 {
        font-size: calc(1.325rem + 0.9vw) !important;
    }

    .fs-xl-3 {
        font-size: calc(1.3rem + 0.6vw) !important;
    }

    .fs-xl-4 {
        font-size: calc(1.275rem + 0.3vw) !important;
    }

    .fs-xl-5 {
        font-size: 1.25rem !important;
    }

    .fs-xl-6 {
        font-size: 1rem !important;
    }

    /* Clases de ancho para xl (5 en 5) */
    .w-xl-5 {
        width: 5% !important;
    }

    .w-xl-10 {
        width: 10% !important;
    }

    .w-xl-15 {
        width: 15% !important;
    }

    .w-xl-20 {
        width: 20% !important;
    }

    .w-xl-25 {
        width: 25% !important;
    }

    .w-xl-30 {
        width: 30% !important;
    }

    .w-xl-35 {
        width: 35% !important;
    }

    .w-xl-40 {
        width: 40% !important;
    }

    .w-xl-45 {
        width: 45% !important;
    }

    .w-xl-50 {
        width: 50% !important;
    }

    .w-xl-55 {
        width: 55% !important;
    }

    .w-xl-60 {
        width: 60% !important;
    }

    .w-xl-65 {
        width: 65% !important;
    }

    .w-xl-70 {
        width: 70% !important;
    }

    .w-xl-75 {
        width: 75% !important;
    }

    .w-xl-80 {
        width: 80% !important;
    }

    .w-xl-85 {
        width: 85% !important;
    }

    .w-xl-90 {
        width: 90% !important;
    }

    .w-xl-95 {
        width: 95% !important;
    }

    .w-xl-100 {
        width: 100% !important;
    }

    .w-xl-33 {
        width: calc(33.333% - 20px) !important;
    }
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (min-width: 1400px) {
    .fs-xxl-1 {
        font-size: calc(1.375rem + 1.5vw) !important;
    }

    .fs-xxl-2 {
        font-size: calc(1.325rem + 0.9vw) !important;
    }

    .fs-xxl-3 {
        font-size: calc(1.3rem + 0.6vw) !important;
    }

    .fs-xxl-4 {
        font-size: calc(1.275rem + 0.3vw) !important;
    }

    .fs-xxl-5 {
        font-size: 1.25rem !important;
    }

    .fs-xxl-6 {
        font-size: 1rem !important;
    }

    /* Clases de ancho para xxl (5 en 5) */
    .w-xxl-5 {
        width: 5% !important;
    }

    .w-xxl-10 {
        width: 10% !important;
    }

    .w-xxl-15 {
        width: 15% !important;
    }

    .w-xxl-20 {
        width: 20% !important;
    }

    .w-xxl-25 {
        width: 25% !important;
    }

    .w-xxl-30 {
        width: 30% !important;
    }

    .w-xxl-35 {
        width: 35% !important;
    }

    .w-xxl-40 {
        width: 40% !important;
    }

    .w-xxl-45 {
        width: 45% !important;
    }

    .w-xxl-50 {
        width: 50% !important;
    }

    .w-xxl-55 {
        width: 55% !important;
    }

    .w-xxl-60 {
        width: 60% !important;
    }

    .w-xxl-65 {
        width: 65% !important;
    }

    .w-xxl-70 {
        width: 70% !important;
    }

    .w-xxl-75 {
        width: 75% !important;
    }

    .w-xxl-80 {
        width: 80% !important;
    }

    .w-xxl-85 {
        width: 85% !important;
    }

    .w-xxl-90 {
        width: 90% !important;
    }

    .w-xxl-95 {
        width: 95% !important;
    }

    .w-xxl-100 {
        width: 100% !important;
    }

    .w-xxl-33 {
        width: calc(33.333% - 20px) !important;
    }
}